{% extends "djbase.html" %}

{% block dj_header_extra %}

<style type="text/css">
    .box {
        margin-top: 10px;
        color: #292929;
        width: 300px;
        border: 1px solid #BABABA;
        background-color: #ddd;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: 1em;
        -o-border-radius: 10px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 10px;
        -webkit-box-shadow: 0px 3px 7px #adadad;
        border-radius: 10px;
        -moz-box-sizing: border-box;
        -opera-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .qacard {
	font-size: 30px;
        border: 1px solid #BABABA;
	margin: 10px;
	padding: 5px;
    }

    .uihints {
	margin-top: 20px;
	font-size: 8px;
    }

    .answerbutton {
	width: 100px;
	height: 25px;
	margin: 4px;
    }
</style>


<script type="text/javascript">
    // load required modules
    dojo.require("dojo.parser");

    // vars
    var showAnswer;
    var cardid;

    function showQA(q,a) {
	dojo.byId("questionContents").innerHTML= q;
	dojo.byId("answerContents").innerHTML= a;
    }


    function fetchQA() {
	dojo.xhrPost( {
	    url: "/study/getqa",
	    handleAs: "json",
	    load: function(responseObject, ioArgs) {
		showQA(responseObject.question, responseObject.answer);
		cardid = responseObject.id;
		dojo.byId("showButton").focus();
	    }
	});
    }



    dojo.addOnLoad(function(){
	var node = dojo.byId("bodytag");
	dojo.connect(node, "onkeypress", function(e){
	    switch(e.charOrCode){
		case 's':
		case 'S':
		    showAnswer();
		    break;
		case 'n':
		case 'N':
		    submitAnswer('No');
		    break;
		case 'y':
		case 'Y':
		    submitAnswer('Yes');
		    break;
		case 'd':
		case 'D':
		    submitAnswer('Discard');
		    break;
		case 'k':
		case 'K':
		    submitAnswer('Kinda');
		    break;
	    }
	    // dojo.stopEvent(e);
	});
		    
		
	startUI();
    });

    function startUI() {
	fetchQA();
    }

    function showAnswer()
    {
	dojo.byId("answerDiv").style.display="block";
	dojo.byId("showButton").blur();
	dojo.byId("showButton").style.display="none";
    }
    function hideAnswer()
    {
	dojo.byId("answerDiv").style.display="none";
	dojo.byId("showButton").style.display="block";
    }

    function submitAnswer(yesno)
    {
	//TODO: more general way to create postdata
	var xhrArgs = {
	    url: "/study/impression",
	    postData: "answer=" + yesno + "&id=" + cardid,
	    handleAs: "text",
	    load: function(data) {
		console.dir("impression "+yesno+" posted");
		showQA("....","....");
		// We have to serialize these to avoid races on the server 
		// which overwrite the session.
		fetchQA();
	    },
	    error: function(error) {
		console.dir("error submitting impression: "+error);
		showQA("-error-","-error-");
	    }
	};
	dojo.xhrPost(xhrArgs);
	showQA("...","...");
	hideAnswer();
    }

</script>

{% endblock %}
{% block content %}
<div id="questionDiv" class="box">
What does this mean?

<div id="questionContents" class="qacard">
<i>loading...</i>
</div>
</div>
<button id="showButton" class="answerbutton" onClick="javascript:showAnswer();">Show Answer</button>
<div id="answerDiv" class="box" style="display:none" >
<div id="answerContents" class="qacard" >
<i>loading...</i>
</div>
Did you know this one?<br/>
<button id="yesButton" class="answerbutton" onClick="submitAnswer('Yes');">Yes</button>
<button id="noButton" class="answerbutton" onClick="submitAnswer('No');">No</button>
<button id="discardButton" class="answerbutton" onClick="submitAnswer('Discard');">Discard</button>
<button id="kindaButton" class="answerbutton" onClick="submitAnswer('Kinda');">Kinda</button>
</div>

<div class="uihints">
Hint:
Try pressing S, N, Y, D, K keys.
<br/>
<a href="deck">See all your cards</a>
</div>
{% endblock %}

