{% extends "djbase.html" %}

{% block dj_header_extra %}

<style type="text/css">
    .box {
        margin-top: 10px;
        color: #292929;
        width: 300px;
        border: 1px solid #BABABA;
        background-color: #ddd;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: 1em;
        -o-border-radius: 10px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 10px;
        -webkit-box-shadow: 0px 3px 7px #adadad;
        border-radius: 10px;
        -moz-box-sizing: border-box;
        -opera-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .qacard {
	font-size: 30px;
        border: 1px solid #BABABA;
	margin: 10px;
	padding: 5px;
    }

    .uihints {
	margin-top: 20px;
	font-size: 8px;
    }

    .answerbutton {
	width: 100px;
	height: 25px;
	margin: 4px;
    }
</style>


<script type="text/javascript">
    /////////////////////////////////////////////////////////
    //
    // timer, Q&A UI, buttons
    //
    /////////////////////////////////////////////////////////
    var start_time_ms;
    function start_timer() {
	var d = new Date();
	start_time_ms = d.getTime(); // ms since 1970
    }

    function time_elapsed_ms() {
	var d = new Date();
	return d.getTime() - start_time_ms;
    }


    // remembers how long btx card display and show button being pressed
    var showtimer_ms=-1; 

    function showAnswer()
    {
	showtimer_ms= time_elapsed_ms();
	dojo.byId("answerDiv").style.display="block";
	dojo.byId("showButton").blur();
	dojo.byId("showButton").style.display="none";
    }

    function hideAnswer()
    {
	dojo.byId("answerDiv").style.display="none";
	dojo.byId("showButton").style.display="block";
    }



    var cardid; // id of the currently displayed card to be sent back with the current impression

    // just updates the q and a divs in the display.
    // nothing else.
    function showQA(q,a) {
	dojo.byId("questionContents").innerHTML= q;
	dojo.byId("answerContents").innerHTML= a;
    }

    // Shows the question, and resets the UI
    function startQuestion(id,q,a) {
	showQA(q, a);
	cardid = id;
	dojo.byId("showButton").focus();
	start_timer();
    }



    /////////////////////////////////////////////////////////
    //
    // asking the server for content
    //
    /////////////////////////////////////////////////////////

    function fetchQA() {
	posturl = "/study/getqa"
	if( location.hash ) {
	    // Remove the hash character
	    cardnum = location.hash.substring(1);
	    // This is not terribly robust since if the fragment
	    // is not a number, this will fail to return
	    posturl = "/study/jsoncard/"+cardnum;
	    location.hash="";
	}
	dojo.xhrPost( {
	    url: posturl,
	    handleAs: "json",
	    load: function(responseObject, ioArgs) {
		startQuestion(responseObject.id, responseObject.question, responseObject.answer);
	    }
	});
    }

    /////////////////////////////////////////////////////////
    //
    // Submitting the impression
    //
    /////////////////////////////////////////////////////////


    // Puts together the impression and sends it up.
    function submitAnswer(yesno)
    {
	var submittimer_ms = time_elapsed_ms() - showtimer_ms;

	//TODO: more general way to create postdata
	data = "";
	data += "answer=" + yesno;
	data += "&id=" + cardid;
	data += "&showtimer=" + showtimer_ms;
	data += "&submittimer=" + submittimer_ms;
	var xhrArgs = {
	    url: "/study/impression",
	    postData: data,
	    handleAs: "text",
	    load: function(data) {
		console.dir("impression "+yesno+" posted");
		showQA("....","....");
		// We have to serialize these to avoid races on the server 
		// which overwrite the session.
		fetchQA();
	    },
	    error: function(error) {
		console.dir("error submitting impression: "+error);
		showQA("-error-","-error-");
	    }
	};
	dojo.xhrPost(xhrArgs);
	showQA("...","...");
	hideAnswer();
    }
    
    /////////////////////////////////////////////////////////
    //
    // Dojo startup stuff
    //
    /////////////////////////////////////////////////////////

    // load required modules
    dojo.require("dojo.parser");

    dojo.addOnLoad(function(){
	wireKeyboardEvents();
		
	startUI();
    });

    function wireKeyboardEvents() {
	var node = dojo.byId("bodytag");
	dojo.connect(node, "onkeypress", function(e){
	    switch(e.charOrCode){
		case 's':
		case 'S':
		    showAnswer();
		    break;
		case 'n':
		case 'N':
		    submitAnswer('No');
		    break;
		case 'y':
		case 'Y':
		    submitAnswer('Yes');
		    break;
		case 'd':
		case 'D':
		    submitAnswer('Discard');
		    break;
		case 'k':
		case 'K':
		    submitAnswer('Kinda');
		    break;
	    }
	    // if you want to cancel default processing...
	    // dojo.stopEvent(e);
	});
    }
		    
    function startUI() {
	fetchQA();
    }



</script>

{% endblock %}
{% block content %}
<div id="questionDiv" class="box">
What does this mean?

<div id="questionContents" class="qacard">
<i>loading...</i>
</div>
</div>
<button id="showButton" class="answerbutton" onClick="javascript:showAnswer();">Show Answer</button>
<div id="answerDiv" class="box" style="display:none" >
<div id="answerContents" class="qacard" >
<i>loading...</i>
</div>
Did you know this one?<br/>
<button id="yesButton" class="answerbutton" onClick="submitAnswer('Yes');">Yes</button>
<button id="noButton" class="answerbutton" onClick="submitAnswer('No');">No</button>
<button id="discardButton" class="answerbutton" onClick="submitAnswer('Discard');">Discard</button>
<button id="kindaButton" class="answerbutton" onClick="submitAnswer('Kinda');">Kinda</button>
</div>

<div class="uihints">
Hint:
Try pressing S, N, Y, D, K keys.
<br/>
<a href="deck">Manage your deck</a>
</div>
{% endblock %}

