{% extends "djbase.html" %}

{% block dj_header_extra %}

<style type="text/css">
    .box {
        margin-top: 10px;
        color: #292929;
        width: 300px;
        border: 1px solid #BABABA;
        background-color: #ddd;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: 1em;
        -o-border-radius: 10px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 10px;
        -webkit-box-shadow: 0px 3px 7px #adadad;
        border-radius: 10px;
        -moz-box-sizing: border-box;
        -opera-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .qacard {
	font-size: 30px;
        border: 1px solid #BABABA;
	margin: 10px;
	padding: 5px;
    }

    .uihints {
	margin-top: 20px;
	font-size: 8px;
    }

    .statusbar {
	margin-top: 20px;
	background-color: #eed;
    }

    .answerbutton {
	width: 100px;
	height: 25px;
	margin: 4px;
    }
</style>


<script type="text/javascript">
    /////////////////////////////////////////////////////////
    //
    // timer, Q&A UI, buttons
    //
    /////////////////////////////////////////////////////////
    var start_time_ms;
    function start_timer() {
	var d = new Date();
	start_time_ms = d.getTime(); // ms since 1970
    }

    function time_elapsed_ms() {
	var d = new Date();
	return d.getTime() - start_time_ms;
    }


    // remembers how long btx card display and show button being pressed
    var showtimer_ms=-1; 

    function showAnswer()
    {
	showtimer_ms= time_elapsed_ms();
	dojo.byId("answerDiv").style.display="block";
	dojo.byId("showButton").blur();
	dojo.byId("showButton").style.display="none";
    }

    function hideAnswer()
    {
	dojo.byId("answerDiv").style.display="none";
	dojo.byId("showButton").style.display="block";
    }



    var cardId; // id of the currently displayed card to be sent back with the current impression

    // just updates the q and a divs in the display.
    // nothing else.
    function showQA(q,a) {
	dojo.byId("questionContents").innerHTML= q;
	dojo.byId("answerContents").innerHTML= a;
    }

    // Shows the question, and resets the UI
    function startQuestion(qaobj) {
	// Unpack the JSON object from the server
	q = qaobj.question;
	a = qaobj.answer;
	id = qaobj.id;

	// Use it.
	showQA(q, a);
	cardId = id;
	dojo.byId("showButton").focus();
	start_timer();
    }


    function showStatus(msg) {
	console.dir("status:"+msg);
	dojo.byId("statusbar").innerHTML = msg;
    }

    /////////////////////////////////////////////////////////
    //
    // Communicating with the server
    //
    // Two parts: READING & WRITING
    //
    /////////////////////////////////////////////////////////


    /////////////////////////////////////////////////////////
    //
    // READING: asking the server for content 
    //
    // Keeps a local cache of Question & Answer objects.
    // Serves them up to the user as they're needed.
    // Uses a low-water mark method to know when it needs to
    // fetch more.
    //
    // We don't need to serialize this because these requests
    // are guaranteed by the server not to have any side-effects.
    //
    // The external interface here is just nextQA() which says
    // put up a new card, however you need to do it.
    // It tries to do it right away, else it sets it up to happen
    // async.  It also takes the opportunity to refresh the cache
    // if needed.
    /////////////////////////////////////////////////////////

    // configuration parameters
    var numQAToFetch = 5;
    var minQABeforeFetch = 3; // the low water mark when we fetch again

    // Global state about the QA Cache and the display
    var fetchingMore=false; // True if there's an outstanding request.
    var userWaitingForQuestion=true; // so we can show it

    // the local cache of QA objects.  It's an array of json objects
    var QACache = []; 

    // This is called whenever it's time to display a new QA.
    // It takes care of making that happen.  
    // It will happen synchronously if possible, else async.
    function nextQA() {
	// See if we can handle the request from local cache
	if( QACache.length > 0 ) {
	    // Handle locally
	    console.dir("Using local");
	    var qa = QACache.shift();
	    startQuestion(qa);
	    displayUpdated=true;
	    userWaitingForQuestion=false;
	} else {
	    // Not enough locally.  Show waiting status.
	    // Don't need to kick off a request here.
	    // That happens below.
	    showQA("...","...");
	    userWaitingForQuestion=true;
	}

	if( QACache.length < minQABeforeFetch) {
	    // Stack is below threshhold so we need to trigger a fetch.
	    fetchMoreQA();
	    // don't worry about de-duping requests.  
	    // fetchmoreqa will do that.
	}
	debugCache(QACache);
    }

    function debugCache(cache) {
	str = "<ul>";
	for(var i=0; i<cache.length; i++) {
	    obj = cache[i];
	    str += "<li>";
	    str += obj.question+" ("+obj.id+")"
	    str += "</li>";
	}
	str += "</ul>";
	dojo.byId("debugcache").innerHTML = str;
    }

    // Asks the server for more QA data.
    // if needToUpdateUI is true then it will push the results
    // on the screen as soon as they're back.
    function fetchMoreQA() {
	// Check global state variable to de-dupe these requests
	if( fetchingMore ) {
	    // Just wait for the last one to finish.
	    return;
	}
	fetchingMore = true;
        posturl = "/study/getqa-" + numQAToFetch;

	// Check for the "revisit" hack
	if( location.hash ) {
	    // Remove the hash character
	    cardnum = location.hash.substring(1);
	    // This is not terribly robust since if the fragment
	    // is not a number, this will fail to return
	    posturl = "/study/jsoncard/"+cardnum;
	    location.hash="";
	}

	console.dir("Fetching QA from "+posturl);

	// Kick off the request
	dojo.xhrPost( {
	    url: posturl,
	    handleAs: "json",
	    load: function(responseObject, ioArgs) {
		// When it comes back, just replace the old stack
		QACache = responseObject;
		debugCache(QACache);
		console.dir("got more");

		// reset global state.
		fetchingMore = false;

		// Cycle back to nextQA if the user is waiting
		if( userWaitingForQuestion ) {
		    nextQA();
		    // That will clear the userWaiting flag
		}
	    }
	});
    }

    /////////////////////////////////////////////////////////
    //
    // WRITING: Submitting the impression
    //
    // The session-state on the server is not thread-safe.
    // If we send multiple overlapping requests, it will 
    // lose data since each request loads the sesison state
    // from the database into memory and then writes it back.
    // So we need to serialize the requests that will modify the
    // learning model's state.
    // The server guarantees that fetchMoreQA requests will not
    // modify the model's state, so we don't need to serialize
    // those against the impression logging.
    // But we do need to serialize the impression logging
    // since the user might be able to answer faster than the
    // server can accept the answers.  Hopefully this will
    // just be in bursts, and not sustained, cuz otherwise
    // we've got a problem.
    /////////////////////////////////////////////////////////

    // Puts together the impression and sends it up.
    function submitAnswer(yesno)
    {
	var submittimer_ms = time_elapsed_ms() - showtimer_ms;

	//Should find a cleaner way to assemble the postdata
	data = "";
	data += "answer=" + yesno;
	data += "&id=" + cardId;
	data += "&showtimer=" + showtimer_ms;
	data += "&submittimer=" + submittimer_ms;
	// TODO: serialize these posts
	var xhrArgs = {
	    url: "/study/impression",
	    postData: data,
	    handleAs: "text",
	    load: function(data) {
		console.dir("impression "+yesno+" posted");
		showStatus("");
	    },
	    error: function(error) {
		console.dir("error submitting impression: "+error);
		showStatus("Error posting");
		// TODO: retry to submit this impression
	    }
	};
	dojo.xhrPost(xhrArgs);
	showStatus("submitting...");
	hideAnswer();
	nextQA();
    }
    
    /////////////////////////////////////////////////////////
    //
    // Dojo startup stuff
    //
    /////////////////////////////////////////////////////////

    // load required modules
    dojo.require("dojo.parser");

    dojo.addOnLoad(function(){
	wireKeyboardEvents();
		
	startUI();
    });

    function wireKeyboardEvents() {
	var node = dojo.byId("bodytag");
	dojo.connect(node, "onkeypress", function(e){
	    switch(e.charOrCode){
		case 's':
		case 'S':
		    showAnswer();
		    break;
		case 'n':
		case 'N':
		    submitAnswer('No');
		    break;
		case 'y':
		case 'Y':
		    submitAnswer('Yes');
		    break;
		case 'd':
		case 'D':
		    submitAnswer('Discard');
		    break;
		case 'k':
		case 'K':
		    submitAnswer('Kinda');
		    break;
	    }
	    // if you want to cancel default processing...
	    // dojo.stopEvent(e);
	});
    }
		    
    function startUI() {
	nextQA();
    }



</script>

{% endblock %}
{% block content %}
<div id="questionDiv" class="box">
What does this mean?

<div id="questionContents" class="qacard">
<i>loading...</i>
</div>
</div>
<button id="showButton" class="answerbutton" onClick="javascript:showAnswer();">Show Answer</button>
<div id="answerDiv" class="box" style="display:none" >
<div id="answerContents" class="qacard" >
<i>loading...</i>
</div>
Did you know this one?<br/>
<button id="yesButton" class="answerbutton" onClick="submitAnswer('Yes');">Yes</button>
<button id="noButton" class="answerbutton" onClick="submitAnswer('No');">No</button>
<button id="discardButton" class="answerbutton" onClick="submitAnswer('Discard');">Discard</button>
<button id="kindaButton" class="answerbutton" onClick="submitAnswer('Kinda');">Kinda</button>
</div>

<div class="uihints">
Hint:
Try pressing S, N, Y, D, K keys.
<br/>
<a href="deck">Manage your deck</a>
</div>
<div id="statusbar" class="statusbar">
</div>
<div id="debugcache" class="statusbar">
emtpy cache
</dIV>
{% endblock %}

