{% extends "base.html" %}

{% block title %}About Dr. BigBrain{% endblock %}

{% block content %}
  <h1>About Dr. BigBrain</h1>

  <p>
    Dr.BigBrain is an open, free educational service currently focused
    on language education.  Specifically we're currently only
    featuring lessons to help people learn to read simplified chinese.
  </p>
  <p>
    Soon we will add the ability to contribute new lessons to 
    DrBigBrain for others to use.  Stay in touch, or <a href="http://leodirac.com/contact">contact us</a> if there's something you'd like to see.
  </p>
  <p>
    Dr.BigBrain is open-source.  If you'd like to contribute to the code, 
    see our section on <a href="http://github.com/leopd/drbigbrain">GitHub</a>.
  </p>
  <p>
    The project started as a labor of love by 
    <a href="http://leodirac.com/">Leo Dirac</a> in the year 2000 
    before his first visit to China.
  </p>
{% endblock %}


