{% extends "djbase.html" %}
{% block content %}
<h1>DrBigBrain online studying</h1>

{% if user.is_authenticated %}
    <h3>Add some new cards to your deck:</h3>
{% else %}
    <h3>Start a new topic:</h3>
{% endif %}
<ul>
  <li><a href="/chinese/">Study Chinese</a>
  </li>
  <li>More to come...
  </li>
</ul>

<br/>
{% if user.is_authenticated %}
    {% if deckstate.description %}
    {# If the deckstate has a description, we assume it's got cards and is ready to go #}
    or
	<h3><a href="/study/">Pick up studying where you left off with {{deckstate.description}}</a></h3>
    {% endif %}

    <p>
    or <a href="/deck/review">create a review deck of cards that have been giving you trouble.</a>
    </p>
{% else %}
<h3>Returning users:</h3>
<ul>
<a href="/accounts/login/?next=/study/">Log in</a> to continue studying where you left off
</ul>

{% endif %}

{% endblock %}
