<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>Dr. Bigbrain Online Studying</title><style type="text/css"> 
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.4.0/dojo/resources/dojo.css";
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.4.0/dijit/themes/tundra/tundra.css";
	    </style><script type="text/javascript"> 
	    
	    
		var djConfig = {
		    'isDebug':true,
		    'parseOnLoad':true,
		    'baseUrl':"/dojango/dojo-media/1.4.0/dojo/"
		    
			,'dojoBlankHtmlUrl':"/dojango/dojo-media/1.4.0/dojango/resources/blank.html"
			,'dojoIframeHistoryUrl':"/dojango/dojo-media/1.4.0/dojango/resources/blank.html"
		    
		    
		};
	    
	</script><script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.4.0/dojo/dojo.xd.js"></script>
{% block dojango_header_extra %}
{% endblock %}
</head>

<body id="bodytag">

{% block content %}
{% endblock %}
{% block dojango_content %}
{% endblock %}


<hr>
<font size="-2">
<a href="/">Home</a>
<a href="/accounts/logout/">Logout</a>
</font>
</body>
</html>